@model List<FlightsListViewModel>
<link rel="stylesheet" href="~/css/ViewFlights.css" asp-append-version="true" />
<div class="container-table100">
    <img src="https://thumbs.gfycat.com/AmusedDecentLhasaapso-size_restricted.gif" id="bg">
    <div class="NoFlightsFound-text">
        Sorry! We still don't have flights that fly from the airports you selected on that exact date.

    </div>
    <div class="HomeButton">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Return to home</a>
    </div>
</div>    